.drop-zone-container {
  text-align: center;
  flex: 1;
  padding: 1rem;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #fff;
  margin-top: 0.5rem;
}

.drop-zone.dragging {
  background-color: #f0f0f0;
}

.drop-zone p {
  margin: 0;
  color: #555;
}

.drop-zone strong {
  color: #333;
}
