.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7b198;
  color: white;
  padding: 0.5rem 1rem;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-item:hover {
  background-color: #34495e;
}
