.sidebar {
  width: 250px;
  background-color: #dfd3c3;
  color: #596e79;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid #2c3e50;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.sidebar-list li a {
  display: block;
  padding: 1rem;
  color: #596e79;
  text-decoration: none;
}

.sidebar-list li a:hover {
  background-color: #2c3e50;
}
